*{
    padding:0;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}
html{
    background: url(https://source.unsplash.com/random/) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 
}
#navbar{
    padding: 10px;
    background-color: rgba(255, 238, 0, 0.281);
    height: 5%;
    backdrop-filter: blur(20px);
}
#frost{
    backdrop-filter: blur(10px);
    width: 102%;
    height: 102%;
    background: rgba(255, 255, 255, 0.466);
}
